* {
	word-break: break-all;
	word-wrap: break-word;
}

body {
	background: #FFF;
	color: #000;
	text-align: center;
	line-height: 1.5em;
}

body,h1,h2,h3,h4,h5,p,ul,dl,ol,form,fieldset {
	margin: 0;
	padding: 0;
}

body,td,input,textarea,select,button {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

cite {
	font-style: normal;
}

a {
	color: #46498E;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

/*布局*/
#wrap {
	margin: 0 auto;
	padding: 0 2px;
	width: 1000px;
	text-align: left;
}

#header {
	position: relative;
	height: 80px;
	border-bottom: 5px solid #B7C6F5;
}

#header h2,#topmenu,#menu {
	position: absolute;
}

#header h2 {
	left: 0;
	bottom: 10px;
}

#topmenu {
	right: 1em;
	bottom: 3.5em;
}

#menu {
	right: 1em;
	bottom: -5px;
	line-height: 28px;
}

#menu li {
	float: left;
	padding: 2px 1em;
}

#menu li.active {
	padding-top: 0;
	border: solid #B7C6F5;
	border-width: 2px 1px 0;
	background: #FFF;
}

.mainarea {
	float: right;
	width: 100%;
	margin-left: -150px;
}

.maininner {
	margin-left: 170px;
}

.side {
	float: left;
	width: 150px;
}

#content {
	margin: 1em 0;
}

.title {
	margin-bottom: 10px;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #B7C6F5;
}

.title h1,.title h3 {
	padding: 0.6em 0 0.2em 0;
	font-size: 1.17em;
}

.footactions {
	margin: 0 0 1em;
	padding: 0.5em;
	border: 2px solid #B7C6F5;
	border-top: 0px;
}

/*\*/
* html .footactions {
	height: 1%;
} /**/
*>.footactions {
	overflow: hidden;
}

.footactions .pages {
	float: right;
}

.footactions a {
	margin-right: 12px;
}

/*细线边框区域*/
.bdrcontent {
	padding: 1em;
	border: 2px solid #B7C6F5;
	zoom: 1;
}

#footer {
	clear: both;
	padding: 1em 0;
	color: #939393;
	text-align: center;
}

#footer p {
	font-size: 0.83em;
}

#footer .menu a {
	padding: 0 1em;
}