@charset "utf-8";
/* ================================ */
/* 商城店铺页面公用样式定义 				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopnc.net	*/
/* Create Date:		Apr-14-2012		*/
/* Retrofit Date:	Aug-23-2012		*/
/* ================================ */


h1 { font-size: 14px; font-weight: 600;}
h3 { font-size: 14px; font-weight: 600;}
h4 { font-size: 12px; font-weight: 600;}

.wrapper { width: 1000px; margin: 0 auto;}


/* =====================
 * 表单元素格式化及伪类效果
 * ===================== */
input[type="text"] { font-family: Tahoma; height: 16px; line-height: 16px; background-color:#F9F9F9; padding: 1px 2px 3px 4px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC; box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
input[type="text"]:hover { background-color:#FFF;}
input[type="text"]:focus { background-color:#FFF; border-color: #CCC; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}

textarea { font-family: Tahoma; line-height: 16px; background-color:#F9F9F9; padding: 5px; border: solid 1px; border-color: #CCC #DDD #DDD #CCC; box-shadow: 2px 2px 1px 0 #E7E7E7 inset; -moz-box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if FF*/; -webkit--box-shadow: 2px 2px 1px 0 #E7E7E7 inset/* if Webkie*/;}
textarea:hover { background-color:#FFF;}
textarea:focus { background-color:#FFF; border-color: #CCC; box-shadow: 1px 1px 1px 0 #E7E7E7; -moz-box-shadow: 1px 1px 1px 0 #E7E7E7/* if FF*/; -webkit--box-shadow: 1px 1px 1px 0 #E7E7E7/* if Webkie*/;}


.text-hidden { line-height:0; font-size:0; overflow:hidden;}
.noborder { border: none;}
.gray { color: #777;}
.price { color:#F60; font-weight: 600;}
.shopkeeper { font-weight: 600; white-space:nowrap; min-width:1px; max-width:110px; float:left; white-space: nowrap; text-overflow : ellipsis; overflow: hidden;}
.message { background: url(../images/shop/public.png) no-repeat 0px -20px; width: 9px; height: 9px; float:left; margin: 10px 0 0 4px;}
.ncs-loading { background: url(../images/loading.gif) no-repeat 50% 50%; min-height:100px; _height:expression(this.scrollHeight < 100 ? "100px" : "auto");}
.background {width: 100%; }
.layout { position: relative; z-index: 4;}
.nothing { width: 780px; padding: 50px 0; text-align: center; }
.nothing p { width: 278px; height: 50px; padding: 30px 0 0 40px; background: url(../images/nothing.gif) no-repeat; font-weight: bold; font-size: 15px; color: #585858; margin: 0 auto; }
.error { color:#F00;}



#content { width: 1000px; margin: 0 auto;}
#root { background-color:#FFFFFF; width: 100%;}
#main-nav { width:1000px;}
.nc-goods-main { width: 1000px;}
.sticky #main-nav { position:fixed; _position:relative; top:0; border-bottom: solid 1px #D8D8D8; box-shadow: 0 2px 2px rgba(0,0,0,0.2)}
.sticky #main-nav ul { margin:0 auto;}

.switch-bar{ background: transparent url(../images/shop/switch_bar.png) no-repeat -15px 0; width:13px; height: 237px; position:absolute; z-index:999; top:200px; left: 0px; _block:none/*if IE6*/;}
.switch-bar a { display:block; width: 13px; height: 42px; margin-top: 97px; cursor: pointer;}
.sticky .gotop a { background: url(../images/shop/public.png) no-repeat 0px -260px; display:block; width: 32px; height: 37px; position: absolute; top:0; right:0;}
.sticky .gotop a:hover{ background-position: -32px -260px;}
.gotop a { display:none;}

.nc-sidebar { display: none; _position:relative/*IE6*/}
.expanded .nc-goods-main { float:right; width: 790px;  _position:relative/*IE6*/ }
.expanded #main-nav { width:790px;  _position:relative/*IE6*/}
.expanded .switch-bar{ background-position: 0 0; left: -23px;  _block:none/*if IE6*/}
.expanded .nc-sidebar { width: 200px; display: block; float:left; _position:relative/*IE6*/}


/* =====================
 * 独立类样式
 * ===================== */



/* 列表翻页 */
.pagination{ float: right;}
.pagination ul{ text-align: left; width: auto !important;  height: auto !important; margin: 0; padding: 0; border: none !important;}
.pagination ul li { display: inline; list-style-type: none; width: auto !important; height: auto !important; float: left;  padding: 0 !important; border: none !important;}
.pagination ul li:nth-child(even) { background-color: transparent !important;}
.pagination ul li span{list-style-type: none; display: inline; float: left; }
.pagination ul li a span , .pagination li a:visited span{ text-decoration: none; cursor:pointer;}
.pagination ul li a:hover span, .pagination li a:active span{ cursor:pointer;}
.pagination ul li span.currentpage{ }

/*返回顶部*/
*{ padding: 0px; margin: 0px;}
*html{ background-image: url(about:blank); background-attachment: fixed;}/*解决IE6下滚动抖动的问题*/
#tbox { width:54px; _margin-bottom:15px; float:right; border: solid 1px #D8D8D8; position:fixed; _position:absolute; right: 50px; bottom: 15px; _bottom: auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); }/*解决IE6下不兼容 position:fixed 的问题*/
#tbox a:hover { text-decoration: none;}
#gotop{ display: block; width: 54px; height: 54px; }



/* ============================== */
/* 头部店铺介绍与搜索 -> header.php */
/* ============================== */

#header { background-color: #FFF; width: 100%; height: 60px; border-bottom: solid 1px #E7E7E7; position: relative; z-index: 990;}
#header .layout { width: 1000px; margin: 0 auto;}
#shop-logo { width: 240px; height: 60px; float: left; margin: 0; position: relative; z-index: 1; overflow: hidden;}
#shop-logo a { position: absolute; top: 5px; left: 5px; z-index:1;}
#shop-logo img { max-width: 180px; max-height: 50px;}
#shop-logo em { font-family: "microsoft yahei",tahoma; font-size: 18px; font-weight:600; line-height: 24px; color:#777; position: absolute; bottom: 20px; right: 5px; z-index:2;}
#header .shop-head-info { width: 700px; height: 60px; float: right; position: relative; z-index: 99;}
.shop-head-info .arrow { font-size: 0px; line-height: 0; width: 0px; height: 0px; border-width: 4px; border-color: #999 transparent transparent transparent; border-style: solid dashed dashed dashed; position: absolute; z-index: 1; top: 30px; right: 10px;}

.shop-head-info .basic { width: 128px; height: 40px; padding: 10px 15px; border-color: #F7F7F7; border-style: solid; border-width: 0 1px; position: absolute; z-index: 1; top: 0; left: 0;}
.shop-head-info .basic .shop-name { font-size: 12px; line-height: 24px; white-space: nowrap; text-overflow: ellipsis; max-width: 110px; height: 24px; overflow: hidden;}
.shop-head-info .basic .shop-name a { color: #333;}
.shop-head-info .basic .shop-credit { line-height: 16px; height: 16px;}

.shop-head-info .search { padding: 10px; position: absolute; z-index: 1; top: 0; left: 160px;}
.shop-head-info .search form { width: 328px; height: 32px; margin: 4px 0; position: relative; z-index: 1;}
.shop-head-info .search input[type="text"] { font-size: 14px; color: #999; line-height: 20px; background: #FFF url(../images/shop/public.png) no-repeat -725px -278px; width: 300px; height: 20px; padding: 4px 4px 4px 28px; border-style: solid; border-color: #E7E7E7; border-width: 2px; border-radius: 0; box-shadow: none; position: absolute; z-index: 1; top: 0; left: 0; }
.shop-head-info .search form:hover input[type="text"],
.shop-head-info .search input[type="text"]:focus { color: #000!important; border-color: #FF6E3D;}
.shop-head-info .search a { line-height: 20px; text-align: center; white-space: nowrap; display: none; width: 48px; height: 20px; padding: 5px 0; border-style: solid; border-width: 1px; position: absolute; z-index: 2; top: 0;}
.shop-head-info .search .ncs-search-btn-mall 
{ color: #FFF; border-color: #FF4605; left: 240px; background: #FF4301}
.shop-head-info .search .ncs-search-btn-shop { color: #333333; background-color: #F3F3F3; border-color: #CCCCCC; left: 290px;}
.shop-head-info .search .ncs-search-btn-shop:hover { background-color: #FFFFFF;}

.shop-head-info .service { line-height: 20px; color: #777; width: 68px; height: 20px; padding: 20px 10px; border-color: #F7F7F7; border-style: solid; border-width: 0 1px; position: absolute; z-index: 1; top: 0; left: 521px;}
.shop-head-info .service i { background: url(../images/shop/public.png) no-repeat -680px -160px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 8px;}

.shop-head-info .favorites { line-height: 20px; color: #777; width: 68px; height: 20px; padding: 20px 10px; border-color: #F7F7F7; border-style: solid; border-width: 0 1px; position: absolute; z-index: 1; top: 0; left: 610px;}
.shop-head-info .favorites i { background: url(../images/shop/public.png) no-repeat -700px -160px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 8px;}

.shop-head-info .basic:hover,
.shop-head-info .service:hover,
.shop-head-info .favorites:hover { background-color: #F7F7F7; border-color: #D8D8D8; z-index: 2; }

.shop-head-info .basic .sub { background-color: #FFF; width: 421px; border: solid 1px #D8D8D8; position: absolute; z-index: 1; top: 60px; left: -1px; visibility: hidden;}
.shop-head-info .basic .sub .title-bar { background-color: #F7F7F7; height: 24px; padding: 4px 8px; border-bottom: solid 1px #D8D8D8;}
.shop-head-info .basic .sub .title-bar h3 { line-height: 24px; vertical-align: middle; display: inline-block;}
.shop-head-info .basic .sub .title-bar .shop-level { font-weight: 600; color: #FFF; line-height: 18px; vertical-align: middle; display: inline-block; width: 60px; height: 18px; padding: 0 0 0 20px; background: url(../images/shop/public.png) no-repeat 0px 0px;}
.shop-head-info .basic .sub .left { width: 180px; padding: 10px; float: left;}
.shop-head-info .basic .sub .left dl { line-height: 28px; width: 180px;  overflow: hidden;}
.shop-head-info .basic .sub .left dl dt { width: 60px; text-align: right; display: block; float: left;}
.shop-head-info .basic .sub .left dl dd { width: 120px; display: block; float: right;}
.shop-head-info .basic .sub .right { width: 201px; padding: 10px; float: right;}
.shop-head-info .basic .sub h4 { line-height: 20px; padding: 0 0 5px 5px;}
.shop-head-info .basic .sub .right dl { line-height: 28px; width: 200px; border-style: solid; border-width: 1px 0 0 1px; border-color: #E7E7E7; overflow: hidden;}
.shop-head-info .basic .sub .right dl dt { background-color: #FAFAFA; text-align: right; display: block; width: 77px; padding: 0 2px 0 0; float: left; border-style: solid; border-width: 0 1px 1px 0; border-color: #E7E7E7;}
.shop-head-info .basic .sub .right dl dd { display: block; width: 115px; float: right; padding: 0 0 0 4px; border-style: solid; border-width: 0 1px 1px 0; border-color: #E7E7E7;}
.shop-head-info .basic .sub .right dl dd.all { text-align: center; width: 195px}

.shop-head-info .service .sub { background-color: #FFF; width: 198px; border: solid 1px #D8D8D8; position: absolute; z-index: 1; top: 60px; left: -111px;visibility: hidden;}
/* 客服中心列表 */
.ncs-message-bar {}
.ncs-message-bar .default { width: 180px; padding: 9px; border-top: solid 1px #D8D8D8; margin-top: -1px;}
.ncs-message-bar .default h5 { line-height: 20px; font-weight: 600; display: inline-block;}
.ncs-message-bar .default span { color: #555; height: 20px;}
.ncs-message-bar .service-list { border-top: solid 1px #D8D8D8; }
.ncs-message-bar dl { width: 180px; padding: 9px; overflow: hidden;}
.ncs-message-bar dt { line-height: 20px; font-weight: 600; color: #333; display: block;}
.ncs-message-bar dd { color: #555; margin-left: 16px; clear:both; padding: 4px 0;}
.ncs-message-bar dd span { line-height: 22px; margin: 0 6px 0 0;}
.ncs-message-bar dd img { vertical-align: middle;}
.ncs-message-bar dd p { line-height: 20px;}

.shop-head-info .favorites .sub { background-color: #FFF; width: 300px; border: solid 1px #D8D8D8; position: absolute; z-index: 1; top: 60px; left: -213px; visibility: hidden;}
.shop-head-info .favorites .sub .title-bar { background-color: #F7F7F7; height: 24px; padding: 4px 8px; border-bottom: solid 1px #D8D8D8;}
.shop-head-info .favorites .sub .title-bar h3 { line-height: 24px; vertical-align: middle; display: inline-block;}
.shop-head-info .favorites .sub ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 280px; height: 50px; clear: both; padding: 10px 0; margin: 0 auto;}
.shop-head-info .favorites .sub li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; *zoom:1/*IE6、7*/; width: 50px; height: 50px; margin: 0 10px; position: relative; z-index: 1;}
.shop-head-info .favorites .sub li a.btn { line-height: 20px; color: #555; text-decoration: none; background-color: #FFF2DE; text-align: center; display: block; width: 48px; height: 20px; padding: 24px 0 4px 0; border: solid 1px #FFC893; border-radius: 4px; position: relative; z-index: 1; top: 0;}
.shop-head-info .favorites .sub li a:hover.btn { background-color: #FFD490;}
.shop-head-info .favorites .sub li a.btn i { background:url(../images/shop/public.png) no-repeat -660px -160px; width: 16px; height: 16px; position: absolute; z-index: 1; top: 6px; left: 16px;}
.shop-head-info .favorites .sub li a:hover.btn i { background-position: -640px -160px;}
.shop-head-info .favorites .sub li a { line-height: 20px; text-decoration: underline; text-align: center; width: 50px; height: 20px; position: absolute; z-index: 1; top: 5px; left: 0;}
.shop-head-info .favorites .sub li a.no-url { text-decoration: none; cursor: default;}
.shop-head-info .favorites .sub li a.no-url:hover { color: inherit;}
.shop-head-info .favorites .sub li span { line-height: 20px; text-align: center; width: 50px; height: 20px; position: absolute; z-index: 1; top: 26px; left: 0;}
.shop-head-info .favorites .sub li a.share { background:url(../images/shop/public.png) no-repeat -600px -160px; width: 16px; height: 16px; position: absolute; z-index: 1; top: 6px; left: 16px;}
.shop-head-info .favorites .sub li a.share:hover { background:url(../images/shop/public.png) no-repeat -620px -160px;}


#shop-info:hover .shop-info-simple { background:#FFF; border:solid #CCC; border-width: 1px 1px 0px 1px; padding:6px 10px 3px 9px; border-radius: 4px 0 0 0; box-shadow:2px 0px 0px 0px rgba(0,0,0,.1)visibility: hidden;}

#shop-info .shop-info-details { background: #FFF; display: none; width: 632px; height: 84px; padding: 2px 8px 8px 8px; border: solid #E7E7E7 1px; position: absolute; z-index:1; top: 49px; left: 0px; border-radius: 0 4px 4px 4px; box-shadow:2px 2px 0px 0px rgba(0,0,0,.1);}
#shop-info:hover .shop-info-details { display:block; border-color: #CCC;}
.shop-info-details dl { line-height: 28px; display:block; float:left; padding: 0 5px; }
.shop-info-details dl.rate { width: 181px;}
.shop-info-details dl.basic { width: 201px;}
.shop-info-details dl.other { width: 220px;}
.shop-info-details dl dt { color: #555; text-align:right; width: 60px; float:left; clear:left;}
.shop-info-details dl dd { color: #555; white-space: nowrap; overflow: hidden;}
.shop-info-details dl dd strong { color: #36C; font-weight: 600; padding-right:6px;}
.shop-info-details dl dd a.btn { line-height:16px; height:16px; float: right; padding: 2px 4px; margin:4px 0 0 0; border: solid 1px #E7E7E7;}


/* ====================== */
/* 店铺简介边栏 -> info.php */
/* ====================== */
.ncs-info { width: 200px; background-color: #FFF; margin-bottom: 10px;}
.ncs-info .title { background-color: #F5F5F5; padding: 5px 10px; border: solid 1px #E6E6E6;}
.ncs-info .title h4 { font: 600 14px/20px arial,"microsoft yahei"; color: #555;}
.ncs-info .content { border: solid #E6E6E6; border-width: 0 1px 1px;}
.ncs-info .content dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; border-bottom: solid 1px #E6E6E6; padding: 6px 0;}
.ncs-info .content dl dt { font-size: 12px; color: #666; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block;  *display: inline/*IE7*/; width: 68px; *zoom:1;}
.ncs-info .content dl dd { font-size: 12px; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; white-space: nowrap; text-overflow: ellipsis; display: inline-block; *display: inline/*IE7*/; width: 130px; overflow: hidden; *zoom:1;}
.ncs-info .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block;  *display: inline/*IE7*/; width: 79px; height: 17px; *zoom:1;}
.ncs-info .all-rate .rating span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.ncs-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin-right: 2px;}
.ncs-info .content .detail-rate { clear: both;}
.ncs-info .store-name { font-weight: 600; color: #555; height: 20px; padding: 6px 9px; border-bottom: solid 1px #E6E6E6;}
.ncs-info .detail-rate { color: #999; width: 182px; padding: 5px; margin: 0 auto; border-bottom: dotted 1px #E6E6E6;}
.ncs-info .detail-rate h5 { color: #777; margin-bottom: 4px;}
.ncs-info .detail-rate h5 strong { font-weight: 700; margin-right: 30px;}
.ncs-info .detail-rate li { padding: 2px 0;}
.ncs-info .detail-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.ncs-info .detail-rate .high { color: #DA542E; display: inline-block;}
.ncs-info .detail-rate .high i { background: url(../images/2014grate.png) no-repeat 0 -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.ncs-info .detail-rate .high em { color: #FFF; background-color: #DA542E; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.ncs-info .detail-rate .equal { color: #DA542E; display: inline-block;}
.ncs-info .detail-rate .equal i { background: url(../images/2014grate.png) no-repeat -18px -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.ncs-info .detail-rate .equal em { color: #FFF; background-color: #DA542E; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.ncs-info .detail-rate .low { color: #28B779; display: inline-block;}
.ncs-info .detail-rate .low i { background: url(../images/2014grate.png) no-repeat -9px -40px; vertical-align: middle; display: inline-block; width: 9px; height: 8px; margin-right: 4px;}
.ncs-info .detail-rate .low em { color: #FFF; background-color: #28B779; text-align: center; display: inline-block; width: 40px; margin-left: 2px;}
.ncs-info .goto { text-align: center; padding: 10px 0;}
.ncs-info .goto a { color: #005EA6; margin: 0 10px;}
.ncs-info .goto a em { color: #999;}
.ncs-info .goto a:hover em { text-decoration: none !important;}
.ncs-info .no-border { border: 0!important; padding-bottom: 0!important;}

/* ====================== */
/* 左侧边栏样式 -> left.php */
/* ====================== */



/* 侧边栏搜索 */
.ncs-search { width: 180px; margin: 5px 13px 10px 5px; display:inline-table; *display:inline;}
.ncs-search th { width: 60px; text-align: right; padding: 5px 10px 5px 0;}
.ncs-search td { padding: 5px 10px 5px 0;}
.ncs-search a { border: solid 1px #F60; text-decoration:none; border-radius: 4px; background-color:#F90; color:#FFF; padding:4px 8px; line-height:16px; text-shadow: 1px 1px 0 rgba(255,110,0,.8); box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);}
.ncs-search a:hover { background-color: #FFA620;}


/* 侧边栏商品分类 */
.ncs-class-bar p { background-color: #F9F9F9; border-bottom: solid 1px #E7E7E7; height: 28px;}
.ncs-class-bar p span { text-align: center; display:inline-block; width: 24%; height:20px; padding: 4px 0;}
.ncs-class-bar p span { *display:block; *float:left;}
.ncs-class-bar p a { line-height: 16px; color: #777; padding: 2px;}
.ncs-class-bar p a:hover { text-decoration: none; color: #FFF; background-color: #999; border-radius: 4px;}
.ncs-submenu { width:170px; margin: 5px 13px 5px 15px; _margin: 5px 6px 5px 8px; _display: inline-block; _float:left;}
.ncs-submenu li { font-weight: 600; text-align:left; margin: 6px 0; clear:both; }
.ncs-submenu li a { line-height: 20px; color: #333; }
.ncs-submenu li ul { width: 150 ; margin: 5px 0px 5px 20px; }
.ncs-submenu li ul li { line-height: 20px; font-weight: normal; text-align:left; margin: 4px 0; }
.ico-none, .ico-block, .ico-sub { display: inline-block; float:left; cursor: default;}
.ico-none, .ico-block, .ico-sub { *display: inline;}
.ico-none, .ico-block { width: 10px; height:10px; text-align:center; margin: 5px 10px 5px 0; border-radius: 2px;}
.ico-none em, .ico-block em { font-size: 12px; line-height: 10px!important; display: block; height: 10px;  }
.ico-sub { font-size: 0px; line-height:0; width: 3px; height:3px; margin: 8px 6px 8px 0; border-radius: 3px;}


/* 侧边栏排行榜 */
.ncs-top-tab { background: #FFF url(../images/shop/repeat_x.png) repeat-x center 0; height:28px; }
.ncs-top-tab li { float:left;}
.ncs-top-tab li a { color: #777; line-height: 20px; text-decoration:none; background-color: #F7F7F7; text-align:center; width: 86px; height: 20px; float:left; margin: 4px 0 1px 4px; padding:1px 0; border: solid #D8D8D8; border-width: 1px 1px 0 1px; border-radius: 4px 4px 0 0; text-shadow: 1px 1px 0 rgba(255,255,255,.75);}
.ncs-top-tab li.current a { color:#000; background-color: #FFF; padding: 1px 0 2px 0; margin: 4px 0 0 4px; box-shadow: 0 -1px 1px rgba(0,0,0,.05);}
.ncs-top-bar .hide { display: none;}
.ncs-top-panel { widht:196px; margin: 1px; _display:block/*IE6*/; _float:left/*IE6*/;}
.ncs-top-panel li { width:180px; padding:8px 12px 8px 4px;display:block; clear:both; margin-top: -1px; border-bottom: dashed 1px #E7E7E7;}
.ncs-top-panel li:hover { background-color: #F7F7F7;}
.ncs-top-panel dl { line-height: 16px; width:180px; height:50px; position: relative; z-index:1;}
.ncs-top-panel dl:hover {z-index:9;}
.ncs-top-panel dt { display: block; float:left; width: 120px; height: 16px; margin-left: 60px; _margin-left: 30px; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap;}
.ncs-top-panel dd.goods-pic { background-color: #FFF; display:block; width: 50px; height: 50px; position:absolute; z-index:999; top:0; left:0; }
.ncs-top-panel dd.goods-pic a { border: solid 1px #E7E7E7; width:40px; height: 40px; padding: 4px; display: inline-block; }
.ncs-top-panel dd.goods-pic p { background-color: #FFF; width:100px; height: 100px; padding:4px; border: solid 1px #F60; position:absolute; z-index:2; top:-10px; left:58px; display:none; box-shadow: 2px 2px 0px rgba(0,0,0,.2);}
.ncs-top-panel dd.goods-pic p big { font-size: 0; line-height: 0; width: 0; height: 0; display: block; border: 4px solid; border-color: transparent #FF6600 transparent transparent; position: absolute; z-index: 2; top: 18px; left: -9px;}
.ncs-top-panel dd.goods-pic p small { font-size: 0; line-height: 0; width: 0; height: 0; display: block; border: 4px solid; border-color: transparent #FFFFFF transparent transparent; position: absolute; z-index: 2; top: 18px; left: -8px;}
.ncs-top-panel dd.goods-pic:hover p { display: block;}
.ncs-top-panel dd.goods-pic:hover a { border-color: #F60;}
.ncs-top-panel dd.price { background: url(../images/shop/public.png) no-repeat 0 -80px; display:inline-block; _display:block; width:110px; height: 16px; float:left; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap; padding-left:10px;  margin-top: 1px; margin-left: 60px; _margin-left:30px/*IE6*/;} 
.ncs-top-panel dd.selled { background: url(../images/shop/public.png) no-repeat 0 -100px;  display:inline-block; _display:block; width:100px; height: 16px; float:left; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap;  padding-left:20px; margin-top: 1px; margin-left: 60px; _margin-left:30px/*IE6*/;}
.ncs-top-panel dd.selled strong { margin: 0 3px;}
.ncs-top-panel dd.collection{ background: url(../images/shop/public.png) no-repeat 0 -120px;  display:inline-block; _display:block; width:100px; height: 16px; float:left; text-overflow: ellipsis ; overflow:hidden; white-space: nowrap;  padding-left:20px; margin-top: 1px; margin-left: 60px; _margin-left:30px/*IE6*/;}
.ncs-top-panel dd.collection strong { margin: 0 3px;}
.ncs-top-bar p { width: 130px;  margin: 10px auto;}
.ncs-top-bar p a { line-height: 38px; color: #333; background-color: #FEF4B1; text-align: center; width: 128px; height: 38px; border: solid 1px #FFD863;border-radius: 5px; display:inline-block; box-shadow: 0 -1px 1px rgba(0,0,0,0.1)}
.ncs-top-bar p a:hover { text-decoration: none; color: #777; background-color: #FEF6C7; box-shadow: none; }

/* 合作伙伴*/
.ncs-link-bar .content ul { width: 196px; margin:0px 1px 9px 1px; display:block; overflow:hidden;}
.ncs-link-bar .content ul li { background: url(../images/shop/public.png) no-repeat -725px -240px; line-height: 20px; border-bottom: 1px dashed #E7E7E7; padding: 9px 0 0 20px; width:176px; overflow:hidden; }


/* ========================================= */
/* 商品列表类页面 -> index.php, goods_list.php */
/* ========================================= */

/* 焦点图轮换 */ 
.flex-container a:active, .flexslider a:active { outline: none;}
.slides, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none;} 
.flexslider { width: 790px; clear:both; margin: 0 auto 30px auto; *margin: 0 auto 5px auto; padding: 0;}
.flexslider .slides > li { display: none;}
.flexslider .slides img { max-width: 100%; display: block;}
.flex-pauseplay span { text-transform: capitalize;}
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
 html[xmlns] .slides { display: block;} 
* html .slides { height: 1%;}
.no-js .slides > li:first-child {display: block;}
.flexslider { background: #fff; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li { position: relative;}
.flex-container { zoom: 1; position: relative;}
.flex-direction-nav li a { text-indent: -9999px; background-color: transparent; display: block; width: 36px; height: 36px; padding:0; margin: -8px 0 0 0; position: absolute; top: 45%; cursor: pointer; opacity: 0.3; filter:alpha(opacity=30);}
.flex-direction-nav li a:hover { opacity: 0.9; filter:alpha(opacity=90)}
.flex-direction-nav li a.flex-next { font-size: 0px; line-height: 0; width: 0px; height: 0px; border: 16px solid; border-color: transparent transparent transparent #333; right: 0px;}
.flex-direction-nav li a.flex-prev { font-size: 0px; line-height: 0; width: 0px; height: 0px; border: 16px solid; border-color: transparent #333 transparent transparent; left: 0px;}
.flex-direction-nav li .disabled {opacity: 0.3; filter:alpha(opacity=30); cursor: default;}
.flex-control-nav {width: 100%; position: absolute; bottom: -20px;  *bottom: 5px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 9px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a { width: 10px; height: 10px; line-height: 10px; display: block; background-color: #EEE; cursor: pointer; text-indent: -9999px; border-radius: 5px;}
.flex-control-nav li a:hover { background-color: #FC0;}
.flex-control-nav li a.flex-active { background-color: #F60; cursor: default; box-shadow: 1px 1px 1px #CC3300 inset;}

/* 商品列表 */
.ncg-list { clear:both; }
.ncg-list .content ul { width: 790px; overflow:hidden;}
.ncg-list .content ul li { width: 25%; display: inline-block; float: left; margin-bottom: 20px;}
.ncg-list .content ul li { *display: block/* IE7 */; *width: 196px;}
.ncg-list .content ul li dl { line-height: 16px; text-align:center; display: block; width: 180px; margin: 0px auto; padding-top: 180px; position: relative;}
.ncg-list .content ul li dd.ncg-pic { background:#FFF; width: 160px; height: 160px; padding: 9px; margin: 0; position: absolute; top: 0px; left: 0px; border: solid 1px #E7E7E7;}
.ncg-list .content ul li dd.ncg-pic .thumb { width: 160px; height: 160px;}
.ncg-list .content ul li dt { height: 32px; width: 180px; margin: 8px 0; *padding-top:8px; overflow:hidden;}
.ncg-list .content ul li dd { margin: 4px 0; top: 0px; left: 0px;}

/* 推荐商品列表 */
.ncg-com-list { clear:both;}
.ncg-com-list .content { padding: 20px 0; }
.ncg-com-list .content ul { width:97%; _width:790px/*IE6*/; *display:block; *float:left; padding-bottom:20px; margin-left:3%; _margin-left:0px/*IE6*/; overflow:hidden;}
.ncg-com-list .content ul li { width:24%; display:inline-block;}
.ncg-com-list .content ul li { *width:24%;  _width:197px; *display:block; *float:left;}
.ncg-com-list .content ul li dl {text-align: center; width:180px; padding-top:180px; margin:0px auto; position:relative; z-index:1;}
.ncg-com-list .content ul li dd.ncg-pic { background:#FFF; width:160px; height:160px; padding: 8px; margin:0; position:absolute; top:0px; left:0px; border:solid 1px #E7E7E7;}
.ncg-com-list .content ul li dd.ncg-pic .thumb { width:160px; height:160px;}
.ncg-com-list .content ul li dt { line-height:16px; height: 32px; width: 160px; overflow: hidden; margin: 8px auto;}
.ncg-com-list .content ul li dd  {line-height:16px; margin: 4px 0;}


/* 列表排序 */
.ncs-goodslist-bar { background: #F7F7F7; height:28px; border-bottom: solid 1px #D8D8D8; padding:6px 0;}
.ncs-array { display:block; float:left; padding:6px 8px 6px 4px; margin-left:24px; _margin-left:12px/* IE6 */; }
.ncs-array li { display: inline-block; margin: 0 1px;}
.ncs-array li { *display:inline/* IE7*/; _float:left;}
.ncs-array li a { line-height:17px; color:#555; background:url(../images/nc_sortbar.gif) no-repeat scroll 32px -76px; display:inline-block; width:28px; padding:0 14px 0 4px;}
.ncs-array li a { *display:inline/* IE7 */;}
.ncs-array li a.nobg, .sort-bar .array li.selected a.nobg { background:none; padding:0 4px !important;}
.ncs-array li.selected a { font-weight:700; color:#F60;}
.ncs-array li.selected a.asc { background-position:32px -96px;}
.ncs-array li.selected a.desc { background-position:32px -116px;}

.price-search { display: block; float: left; margin-top: 4px; margin-left:24px; _margin-left:12px/* IE6 */;}
.price-search i { display: inline-block; padding: 0 6px;}
.price-search a { border: solid 1px #F60; text-decoration:none; border-radius: 4px; background-color:#F90; color:#FFF; padding:2px 6px; line-height:14px; text-shadow: 1px 1px 0 rgba(255,110,0,.8); box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1); margin-left: 8px;}
.price-search a:hover { background-color: #FC0; color:#FFF;}



