<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">


	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.ansteel.core.context.SiteInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>



	<bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>com.ansteel.dhtmlx.xml.Data</value>
			</list>
		</property>
	</bean>

	<!-- Enables the Spring MVC @Controller programming model -->
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<!-- <property name="favorPathExtension" value="true" /> -->
		<property name="ignoreAcceptHeader" value="true" />		
		<property name="defaultContentType" value="application/json" />
		<property name="favorParameter" value="true" />
		<property name="parameterName" value="format" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="xml" value="application/xml" />
				<entry key="json" value="application/json" />
			</map>
		</property>
	</bean>

	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager">
		<!-- <mvc:return-value-handlers> <bean class="com.ansteel.core.context.UIReturnValueHandler" 
			/> </mvc:return-value-handlers> -->
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
			<bean class="com.ansteel.core.context.MappingJacksonHttp3MessageConverter">
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
				<constructor-arg ref="jaxbMarshaller" />

				<property name="supportedMediaTypes" value="application/xml"></property>
			</bean>
		</mvc:message-converters>
		<mvc:argument-resolvers>
			<bean class="com.ansteel.core.argument.PathClassMethodArgumentResolver" />
			<bean class="com.ansteel.core.argument.PathEntityMethodArgumentResolver" />
			<bean
				class="com.ansteel.core.argument.PathDatabaseEntityMethodArgumentResolver" />
			<bean class="com.ansteel.core.argument.PathGridbaseMethodArgumentResolver" />
			<bean
				class="com.ansteel.core.argument.PathManyToOneNameMethodArgumentResolver" />
			<bean
				class="com.ansteel.core.argument.PathManyToOneClassMethodArgumentResolver" />
			<bean
				class="com.ansteel.core.argument.QueryJsonHandlerMethodArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<bean id="exceptionResolver" class="com.ansteel.core.exception.ExceptionHandler" />

	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.ansteel"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

</beans>
